name: Run tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    paths:
      - '**.py'
      - '**.yaml'
      - 'pyproject.toml'
      - 'requirements*.txt'

jobs:
  test:
    name: ${{ matrix.os }} / Py ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        # Critical: "bash -l {0}" is required for Micromamba environments to activate
        shell: bash -l {0}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        # Testing across all selected supported versions from your spec
        python-version: ["3.9", "3.12"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8 pytest
          if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi

      - name: Install package
        run: |
          python -m pip install -e . --no-deps --force-reinstall

      - name: Test with pytest
        run: |
          pytest
